
<div class="list-group">
  <a style="font-weight:bold;font-size:15px;background:#FF5C93;color:#FFF;" class="list-group-item"><i class="fa fa-list"></i> Categories</a>
  {% for category in categories %}
  {% if category.category_id == category_id %} 
  <a href="{{ category.href }}" class="list-group-item active">{{ category.name }}</a> 
  {% if category.children %}
  {% for child in category.children %}
  {% if child.category_id == child_id %}
  <a href="{{ child.href }}" class="list-group-item active">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a> 
  {% else %} 
  <a href="{{ child.href }}" class="list-group-item">&nbsp;&nbsp;&nbsp;- {{ child.name }}</a>
  {% endif %}
  {% endfor %}
  {% endif %}
  {% else %} <a href="{{ category.href }}" class="list-group-item"><i class="icon-diamond"></i>{{ category.name }}</a>
  {% endif %}
  {% endfor %}
</div>
