{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-payment" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  
  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ edit_settings }}</h3>
      </div>
	
	<div class="panel-body">
	  <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-payment" class="form-horizontal">
		
		<div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="payment_easypay_status" id="input-status" class="form-control">
                {% if payment_easypay_status %}
                <option value="1" selected="selected">{{ text_enabled }}</option>
                <option value="0">{{ text_disabled }}</option>
                {% else %}
                <option value="1">{{ text_enabled }}</option>
                <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
        </div>
		  
		<div class="form-group">
			<label class="col-sm-2 control-label" for="strID">{{ entry_storeId }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_easypay_storeId" value="{{ payment_easypay_storeId }}" id="strID" class="form-control" />
            </div>
        </div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="exp">{{ entry_expiry }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_easypay_expiry" value="{{ payment_easypay_expiry }}" id ="exp" class="form-control" />
            </div>
        </div>
		
		<div class="form-group">
			<label class="col-sm-2 control-label" for="key">{{ entry_hashKey }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_easypay_hashKey" value="{{ payment_easypay_hashKey }}" id = "key" class="form-control" />
            </div>
        </div>

		<div class="form-group">
            <label class="col-sm-2 control-label" for="payMeth">{{ entry_pay_methods }}</label>
            <div class="col-sm-10">
              <select name="payment_easypay_payment_method" id="payMeth" class="form-control">
				{% for method in payment_easypay_methods %}
				{% if method.value == payment_easypay_payment_method %}
				<option value="{{ method.value }}" selected="selected">{{ method.label }}</option>
                {% else %}
				<option value="{{ method.value }}">{{ method.label }}</option>
                {% endif %}
                {% endfor %}
              </select>
            </div>
        </div>
		
        <div class="form-group">
            <label class="col-sm-2 control-label" for="ared">{{ entry_autoRedirect }}</label>
            <div class="col-sm-10">
              <select name="payment_easypay_auto_redirection" id="ared" class="form-control">
			  {% if payment_easypay_auto_redirection %}
                <option value="1" selected="selected">{{ enabled }}</option>
                <option value="0">{{ disabled }}</option>
                {% else %}
                <option value="1">{{ enabled }}</option>
                <option value="0" selected="selected">{{ disabled }}</option>
                {% endif %}
              </select>
            </div>
        </div>

		<div class="form-group">
            <label class="col-sm-2 control-label" for="env">{{ entry_env_live }}</label>
            <div class="col-sm-10">
              <select name="payment_easypay_live" id="env" class="form-control">
			  {% if payment_easypay_live %}
                <option value="1" selected="selected">{{ enabled }}</option>
                <option value="0">{{ disabled }}</option>
                {% else %}
                <option value="1">{{ enabled }}</option>
                <option value="0" selected="selected">{{ disabled }}</option>
                {% endif %}
              </select>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}