<form action="{{ action }}" method="post">
	<input type="hidden" name="storeId" value="{{ easypay_storeId }}" />
	<input type="hidden" name="amount" value="{{ orderamount }}" />
	<input type="hidden" name="postBackURL" value="{{ return_url }}" />
	<input type="hidden" name="orderRefNum" value="{{ orderid }}" />
	{% if easypay_expiry != '' %}
		<input type="hidden" name="expiryDate" value="{{ easypay_expiry }}" />
	{% endif %}
	<input type="hidden" name="autoRedirect" value="{{ easypay_auto_redirection }}" />
	<input type="hidden" name="emailAddr" value="{{ billemail }}" />
	<input type="hidden" name="mobileNum" value="{{ billphone }}" />
	<input type="hidden" name="merchantHashedReq" value="{{ easypay_hashKey }}" />
	<input type="hidden" name="paymentMethod" value="{{ easypay_payment_method }}" />
	<input type="hidden" name="return_url" value="{{ return_url }}" />
	<div class="buttons">
		<div class="pull-right">
		  <input type="submit" class="btn btn-primary" value="{{ button_confirm }}"/>
		</div>
	</div>
</form>